.purpose {
  text-align: center;
}

.context {
  padding: 2%;
  width: 70%;
  color: #26506a;
  background-color: #288cff4a;
}


.blinker {
  margin: 2%;
  width: 100px;
  height: 100px;
  background-color: coral;
  color: #fff;
  text-align: center;
}