.purpose {
  text-align: center;
}

.context {
  padding: 2%;
  width: 70%;
}

.light {
  color: #26506a;
  background-color: #288cff4a;
}

.dark {
  color: #90cbf0;
  background-color: #373737fb;
}

.blinker {
  margin: 2%;
  width: 100px;
  height: 100px;
  background-color: coral;
  color: #fff;
  text-align: center;
}
